<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class="w-full h-full  text-white ">
    
        <a class="text-blue-500  px-5 ml-5 p-20 text-xl" href="/read">Read All Users </a>
  
 
<h1 class="text-3xl ml-2 px-5 py-3"> CREATE USER  </h1>
 

  <form action="/create" method="post">
    <input class="m-4 ml-3 px-5 py-3 border-2 border-zinc-800 bg-zinc-700  outline-none rounded-lg ml-1" type="text" name="name" placeholder="NAME ">
    <input class="px-5 py-3 border-2 border-zinc-800 bg-zinc-700  outline-none rounded-lg ml-1" type="text" name="email" placeholder="E MAIL">
    <input class="px-5 py-3 border-2 border-zinc-800 bg-zinc-700  outline-none rounded-lg ml-1" type="text" name="image" placeholder="IMAGE ">
    <input class="px-4 py-2 outline-none rounded-lg ml-3  bg-blue-500 text-white" type="submit" value="Create User">
  </form>
   </div> 
</body>
</html>